$font_family :'Archivo', sans-serif;
$primary_color:#fe6b21;
$secondary_color:#89375F;
$third_color:#FFC6AC;

$main_text_color:#0C2D57;
$light_text_color:#7D7C7C;
$background_color:#f9f7f1;

$spacer:8px;